openapi: 3.0.3
info:
  title: Youth Account Management API
  description: |-
    API for parents to allocate and manage funds for a youth account, configure spending limits, and monitor activity.
    Security: OAuth2, RBAC, audit logging, input validation, encryption at rest and transit.
    Compliance: GDPR, PCI-DSS, ISO 27001.
  version: 1.0.0
servers:
  - url: https://api.bank.com
    description: Production API server
security:
  - OAuth2: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      operationId: getYouthAccountDashboard
      tags:
        - YouthAccount
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboardResponse'
        '403':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent account to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - FundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Insufficient Balance or Invalid Account
        '500':
          description: Transfer Service Failure
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set weekly spending limit for youth account
      operationId: setYouthAccountSpendingLimit
      tags:
        - SpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation Error
        '403':
          description: Unauthorized
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve transaction history for youth account
      operationId: getYouthAccountTransactions
      tags:
        - Transaction
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
        '400':
          description: Invalid Params
      security:
        - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          scopes:
            parent: Manage youth accounts
  schemas:
    YouthAccountDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum:
            - SUCCESS
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum:
            - UPDATED
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum:
            - debit
            - credit
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer

x-audit:
  traceability:
    - source: Requirement Documents/HLDDocument.txt
    - source: Requirement Documents/APIContractOutline.txt
    - source: Requirement Documents/NFR.txt
  compliance:
    - GDPR
    - PCI-DSS
    - ISO 27001
  security:
    - OAuth2
    - RBAC
    - audit logging
    - input validation
    - output filtering
    - encryption at rest and in transit
