# OpenAPI Specification for Youth Account Management API
openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    APIs for parents/guardians to allocate and manage funds for youth accounts, set spending limits, and view transactions. All endpoints require OAuth2 authentication and RBAC (parent/guardian role). No PII/PCI/PHI is exposed beyond authorized fields. All mutating actions are audit logged.
  contact:
    name: API Support
    email: support@bankingplatform.com
  license:
    name: Proprietary - Internal Use Only
    url: https://github.com/SCIB-Inception
servers:
  - url: https://api.bankingplatform.com
    description: Production server
  - url: https://sandbox.api.bankingplatform.com
    description: Sandbox server

security:
  - OAuth2: [parent]

tags:
  - name: YouthAccountDashboard
    description: Dashboard and overview for youth account
  - name: FundTransfer
    description: Parent-to-youth fund transfers
  - name: SpendingLimit
    description: Manage youth account spending limits
  - name: Transactions
    description: View youth account transaction history

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [YouthAccountDashboard]
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data for the youth account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - OAuth2: [parent]
      x-audit: true

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [FundTransfer]
      summary: Transfer funds from parent to youth account
      operationId: fundTransferToYouth
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: [parent]
      x-audit: true

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [SpendingLimit]
      summary: Set or update weekly spending limit
      operationId: setSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
      security:
        - OAuth2: [parent]
      x-audit: true

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transactions]
      summary: List youth account transactions
      operationId: listTransactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          description: Start date for transaction filter (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          description: End date for transaction filter (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: pageSize
          in: query
          required: false
          description: Page size for pagination
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - OAuth2: [parent]
      x-audit: true

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 with RBAC (parent/guardian role required)
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bankingplatform.com/oauth/authorize
          tokenUrl: https://auth.bankingplatform.com/oauth/token
          scopes:
            parent: Manage youth accounts
  schemas:
    YouthAccountDashboard:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
        - recentTransactions
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      required:
        - transactionId
        - date
        - description
        - amount
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      required:
        - transferId
        - status
        - updatedBalance
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      required:
        - youthAccountId
        - weeklyLimit
        - status
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      required:
        - transactionId
        - date
        - merchant
        - amount
        - transactionType
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionsResponse:
      type: object
      required:
        - transactions
        - pagination
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      required:
        - page
        - pageSize
        - totalRecords
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
  responses:
    UnauthorizedError:
      description: Unauthorized (invalid token or RBAC violation)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Bad request (validation error, insufficient balance, invalid mapping)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error (transfer service failure)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required:
        - errorCode
        - message
      properties:
        errorCode:
          type: string
        message:
          type: string

x-compliance:
  GDPR:
    description: No PII fields exposed except for authorized parent. Data minimization enforced. Data subject rights supported.
  PCI-DSS:
    description: No cardholder data stored or returned. Fund transfers are secured and logged.
  ISO27001:
    description: All endpoints secured via OAuth2. Audit logging enabled for all mutating actions.
  RBAC:
    description: Only parents/guardians can invoke these APIs. RBAC enforced at gateway and service.
  Audit:
    description: All fund movements and spending limit changes are audit logged with user, timestamp, and outcome.
