openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    API for parent/guardian management of youth accounts, including dashboard retrieval, fund transfer, spending limit configuration, and transaction history. Compliant with GDPR, PCI-DSS, ISO 27001. RBAC enforced, OAuth2 required.
  contact:
    name: API Team
    email: support@bank.com
servers:
  - url: https://api.bank.com
    description: Production
  - url: https://sandbox.api.bank.com
    description: Sandbox
security:
  - OAuth2:
      - parent
      - youth
      - admin
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          scopes:
            parent: Parent access
            youth: Youth access
            admin: Admin access
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
      required:
        - code
        - message
    Dashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
      required:
        - transactionId
        - date
        - description
        - amount
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
      required:
        - sourceAccountId
        - transferAmount
        - currency
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
      required:
        - transferId
        - status
        - updatedBalance
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: decimal
      required:
        - weeklyLimit
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
      required:
        - youthAccountId
        - weeklyLimit
        - status
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
      required:
        - transactionId
        - date
        - merchant
        - amount
        - transactionType
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - transactions
        - pagination
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required:
        - page
        - pageSize
        - totalRecords
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get youth account dashboard
      description: Retrieve dashboard details for a youth account
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          description: Unauthorized (RBAC enforced)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      description: Initiate fund transfer from parent to youth account
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Insufficient funds or invalid account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Transfer failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set weekly spending limit
      description: Configure weekly spending limit for youth account
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get transaction history
      description: Retrieve transaction history for youth account
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
