openapi: 3.0.3
info:
  title: Youth Account Management API
  description: |
    API for managing youth accounts, including dashboard retrieval, fund transfers, spending limit configuration, and transaction history. Follows industry security and compliance standards (OAuth2, RBAC, GDPR, PCI-DSS, ISO 27001).
  version: 1.0.0
  contact:
    name: API Team
    email: api-support@bank.com
servers:
  - url: https://api.examplebank.com
    description: Production
  - url: https://sandbox.api.examplebank.com
    description: Sandbox
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            pageSize:
              type: integer
              minimum: 1
            totalRecords:
              type: integer
              minimum: 0
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      required: true
      schema:
        type: string
    StartDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
    EndDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 20

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve Youth Account Dashboard
      description: Get consolidated information for a youth account (balance, limit, recent transactions).
      tags: [YouthAccount]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      responses:
        '200':
          description: Youth account dashboard retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized (invalid parent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Fund Transfer to Youth Account
      description: Transfer funds from parent account to youth account.
      tags: [YouthAccount]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad request (insufficient funds or invalid mapping)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure Weekly Spending Limit
      description: Set or update the weekly spending limit for a youth account.
      tags: [YouthAccount]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Weekly limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error (invalid value)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve Transaction History
      description: Get paginated transaction history for a youth account.
      tags: [YouthAccount]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
