openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    API for parent/guardian to allocate funds, set spending limits, and monitor youth account activity.
    - Security: OAuth2, RBAC, Audit Logging, Input Validation, Encryption
    - Compliance: GDPR, PCI-DSS, ISO 27001
    - All endpoints require OAuth2 authentication and RBAC enforcement
servers:
  - url: https://api.youth-account.bank.com
security:
  - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          scopes:
            parent: Parent access
            youth: Youth access
  schemas:
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
      required:
        - errorCode
        - errorMessage
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
        merchant:
          type: string
        transactionType:
          type: string
          enum: [debit, credit]
      required:
        - transactionId
        - date
        - amount
        - transactionType
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required:
        - page
        - pageSize
        - totalRecords
    Dashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
        - recentTransactions
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
      required:
        - sourceAccountId
        - transferAmount
        - currency
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
      required:
        - transferId
        - status
        - updatedBalance
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: decimal
      required:
        - weeklyLimit
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
      required:
        - youthAccountId
        - weeklyLimit
        - status
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - transactions
        - pagination
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard
      operationId: getDashboard
      tags:
        - Dashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      operationId: transferFunds
      tags:
        - Fund Transfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Insufficient funds or invalid account mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Invalid account mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Transfer service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set weekly spending limit for youth account
      operationId: setSpendingLimit
      tags:
        - Spending Limit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve transaction history for youth account
      operationId: getTransactionHistory
      tags:
        - Transaction History
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2: [parent]
tags:
  - name: Dashboard
    description: Dashboard endpoints for youth account
  - name: Fund Transfer
    description: Fund transfer endpoints
  - name: Spending Limit
    description: Spending limit configuration endpoints
  - name: Transaction History
    description: Transaction history retrieval endpoints
