openapi: 3.0.3
info:
  title: Parent-Youth Account Management API
  version: '1.0.0'
  description: |
    APIs for Parent-Youth Account Management: dashboard, fund transfer, spending limit, transaction history.
    - OAuth2 required for all endpoints.
    - RBAC: Parent role required for all endpoints.
    - Audit logging and input validation enforced.
    - Compliant with GDPR, PCI-DSS, ISO 27001.
servers:
  - url: https://api.bankingapp.com
security:
  - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bankingapp.com/oauth/authorize
          tokenUrl: https://auth.bankingapp.com/oauth/token
          scopes:
            parent: Access to parent/youth account APIs
  schemas:
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    Dashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    TransactionHistory:
      type: object
      properties:
        transactions:
          type: array
          items:
            type: object
            properties:
              transactionId:
                type: string
              date:
                type: string
                format: date-time
              merchant:
                type: string
              amount:
                type: number
                format: double
              transactionType:
                type: string
                enum: [debit, credit]
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            totalRecords:
              type: integer
  responses:
    Forbidden:
      description: Forbidden - User not authorized or lacks RBAC permissions
    NotFound:
      description: Resource not found
    BadRequest:
      description: Bad request (validation or mapping error)
    InternalError:
      description: Internal server error
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      tags: [Dashboard]
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      tags: [FundTransfer]
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      tags: [SpendingLimit]
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Weekly spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      tags: [Transactions]
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
        - in: query
          name: startDate
          schema:
            type: string
            format: date-time
          required: false
        - in: query
          name: endDate
          schema:
            type: string
            format: date-time
          required: false
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: pageSize
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2: [parent]
tags:
  - name: Dashboard
    description: Endpoints for dashboard retrieval
  - name: FundTransfer
    description: Endpoints for fund transfer actions
  - name: SpendingLimit
    description: Endpoints for spending limit configuration
  - name: Transactions
    description: Endpoints for transaction history retrieval
