openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    OpenAPI Specification for the Youth Account Management Service, enabling parents to view, allocate, and manage funds for youth accounts. All endpoints are OAuth2 secured, RBAC enforced, and audit-logged. Compliant with GDPR, PCI-DSS, ISO 27001. All requests and responses validated and filtered for compliance. Logs retained for 7 years.
  contact:
    name: API Team
    url: https://github.com/Ascend-Krithi/SCIB-Inception
    email: api-team@ascend-krithi.com
servers:
  - url: https://api.ascend-bank.com
    description: Production
  - url: https://sandbox.api.ascend-bank.com
    description: Sandbox
security:
  - OAuth2: []
tags:
  - name: Dashboard
    description: Youth account dashboard operations
  - name: Fund Transfer
    description: Parent-to-youth fund allocation
  - name: Spending Limit
    description: Set and update spending limits
  - name: Transactions
    description: Retrieve transaction history
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      responses:
        '200':
          description: Youth account dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [Fund Transfer]
      summary: Transfer funds to youth account
      operationId: postYouthAccountFundTransfer
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [Spending Limit]
      summary: Set or update weekly spending limit
      operationId: putYouthAccountSpendingLimit
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transactions]
      summary: Get youth account transactions
      operationId: getYouthAccountTransactions
      parameters:
        - in: path
          name: youthAccountId
          schema:
            type: string
          required: true
          description: Youth account identifier
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          required: false
          description: Start date (inclusive)
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          required: false
          description: End date (inclusive)
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          required: false
          description: Page number
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          description: Page size (default 20, max 100)
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
      security:
        - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-bank.com/oauth/authorize
          tokenUrl: https://auth.ascend-bank.com/oauth/token
          scopes:
            parent: Parent access to youth accounts
  schemas:
    YouthAccountDashboard:
      type: object
      required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
          example: 'USD'
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      required: [transactionId, date, description, amount]
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
          example: 'USD'
    FundTransferResponse:
      type: object
      required: [transferId, status, updatedBalance]
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      required: [youthAccountId, weeklyLimit, status]
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      required: [transactionId, date, merchant, amount, transactionType]
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionListResponse:
      type: object
      required: [transactions, pagination]
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      required: [page, pageSize, totalRecords]
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
  responses:
    UnauthorizedError:
      description: Unauthorized or forbidden (OAuth2/RBAC)
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: 'Unauthorized'
              message:
                type: string
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: 'Not Found'
              message:
                type: string
    BadRequestError:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: 'Bad Request'
              message:
                type: string
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: 'Internal Server Error'
              message:
                type: string
x-audit:
  description: |
    All endpoints are audit-logged. Audit events include parent identity, action, timestamp, and result. Logs are immutable, retained for 7 years, and accessible only to audit/admin roles. No PII/PHI/PCI data is exposed in logs or API responses.
x-compliance:
  gdpr: true
  pci-dss: true
  iso27001: true
  audit-log-retention-years: 7
  data-encryption: at-rest-and-in-transit
  rbac: enforced
  oauth2: enforced
  api-versioning: true
