openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    Parent-Youth Account Management APIs enabling parents to allocate and manage funds for youth accounts securely. All endpoints enforce OAuth2, RBAC, audit logging, and compliance with GDPR, PCI-DSS, and ISO 27001.
  contact:
    name: API Integration Architect
    email: api.architect@ascendkrithi.com
servers:
  - url: https://api.ascendkrithi.com
    description: Production
  - url: https://sandbox.api.ascendkrithi.com
    description: Sandbox
security:
  - OAuth2: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      tags:
        - Dashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data for youth account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
              examples:
                dashboard:
                  value:
                    youthAccountId: 'Y12345'
                    accountBalance: 150.00
                    spendingLimit: 50.00
                    currency: 'USD'
                    recentTransactions:
                      - transactionId: 'T001'
                        date: '2024-06-01T10:00:00Z'
                        description: 'Starbucks'
                        amount: 4.50
        '403':
          description: Unauthorized (invalid parent ownership)
        '404':
          description: Not Found (invalid youth account)
        '500':
          description: Internal Server Error
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Fund transfer to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - Fund Transfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
            examples:
              fundTransfer:
                value:
                  sourceAccountId: 'P12345'
                  transferAmount: 25.00
                  currency: 'USD'
      responses:
        '200':
          description: Fund transfer response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
              examples:
                transfer:
                  value:
                    transferId: 'FT001'
                    status: 'SUCCESS'
                    updatedBalance: 175.00
        '400':
          description: Bad Request (insufficient balance or invalid account mapping)
        '500':
          description: Transfer service failure
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Update weekly spending limit for youth account
      operationId: updateYouthAccountSpendingLimit
      tags:
        - Spending Limit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
            examples:
              spendingLimit:
                value:
                  weeklyLimit: 75.00
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
              examples:
                updated:
                  value:
                    youthAccountId: 'Y12345'
                    weeklyLimit: 75.00
                    status: 'UPDATED'
        '400':
          description: Bad Request (invalid value)
        '403':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
        - OAuth2: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get transaction history for youth account
      operationId: getYouthAccountTransactions
      tags:
        - Transactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
              examples:
                transactions:
                  value:
                    transactions:
                      - transactionId: 'T002'
                        date: '2024-06-02T15:00:00Z'
                        merchant: 'Amazon'
                        amount: 20.00
                        transactionType: 'debit'
                    pagination:
                      page: 1
                      pageSize: 20
                      totalRecords: 35
        '403':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer Token required for all endpoints.
  schemas:
    DashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED, FAILED]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRecord'
        pagination:
          $ref: '#/components/schemas/Pagination'
    TransactionRecord:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
