openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    REST APIs for Youth Account Management. Enables parents/guardians to allocate and manage funds for youth accounts, set spending limits, view activity, and ensure compliance, security, and performance per enterprise standards.
  contact:
    name: API Owner
    email: api-owner@bank.com
  termsOfService: https://bank.com/terms
servers:
  - url: https://api.bank.com
    description: Production API Server
security:
  - OAuth2:
      - parent
      - youth
      - admin
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://bank.com/oauth/authorize
          tokenUrl: https://bank.com/oauth/token
          scopes:
            parent: Parent access
            youth: Youth access
            admin: Admin access
  schemas:
    YouthAccount:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
    TransactionSummary:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
  responses:
    Unauthorized:
      description: Unauthorized access
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Not Found
    ValidationError:
      description: Input validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Validation Error
    InsufficientFunds:
      description: Insufficient funds
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Insufficient Funds
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Internal Error
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard
      description: Returns youth account balance, spending limit, currency, and recent transactions.
      operationId: getYouthAccountDashboard
      tags:
        - Dashboard
      security:
        - OAuth2: [parent, admin]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccount'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-audit:
        description: All dashboard accesses are logged with user and timestamp.
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      description: Transfers funds and updates youth account balance.
      operationId: fundTransfer
      tags:
        - Fund Transfer
      security:
        - OAuth2: [parent, admin]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-audit:
        description: All fund transfers logged with user, source, target, and timestamp.
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit for youth account
      description: Sets or updates the weekly spending limit for a youth account.
      operationId: updateSpendingLimit
      tags:
        - Spending Limit
      security:
        - OAuth2: [parent, admin]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-audit:
        description: All spending limit changes logged with user, old/new values, and timestamp.
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      description: Returns paginated transaction history for the youth account.
      operationId: getTransactionHistory
      tags:
        - Transaction History
      security:
        - OAuth2: [parent, admin, youth]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-audit:
        description: All transaction history accesses logged with user and timestamp.
