openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    APIs enabling parents/guardians to manage youth accounts: dashboard, fund transfer, spending limits, and transaction history. Compliant with GDPR, PCI-DSS, ISO 27001. All endpoints require OAuth 2.0 and RBAC enforcement.
  termsOfService: https://ascend-krithi.com/terms
  contact:
    name: API Support
    email: support@ascend-krithi.com
    url: https://ascend-krithi.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.ascend-krithi.com
    description: Production server
  - url: https://sandbox.api.ascend-krithi.com
    description: Sandbox server
security:
  - OAuth2: []
tags:
  - name: Dashboard
    description: Youth account dashboard
  - name: FundTransfer
    description: Fund transfer from parent to youth
  - name: SpendingLimit
    description: Configure spending limits
  - name: TransactionHistory
    description: Transaction history for youth account
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Get youth account dashboard
      description: Retrieve dashboard details for a youth account. RBAC enforced. Parent must own the account.
      operationId: getYouthAccountDashboard
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [FundTransfer]
      summary: Transfer funds to youth account
      description: Transfer funds from parent to youth. RBAC enforced. Input validation and audit logging applied.
      operationId: transferFundsToYouth
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/TransferError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [SpendingLimit]
      summary: Set weekly spending limit
      description: Configure weekly spending limit for youth account. RBAC enforced. All changes are audit logged.
      operationId: setWeeklySpendingLimit
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [TransactionHistory]
      summary: Get youth account transactions
      description: Retrieve transaction history for a youth account. RBAC enforced.
      operationId: getYouthAccountTransactions
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - name: startDate
          in: query
          description: ISO 8601 start date filter
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: ISO 8601 end date filter
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: pageSize
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, youth]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth/token
          scopes:
            parent: Manage youth accounts
            youth: View own account
  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      description: Unique youth account identifier
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: Access denied, authentication required or insufficient privileges
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request (validation, insufficient balance, invalid account, etc.)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TransferError:
      description: Transfer service failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    YouthAccountDashboard:
      type: object
      required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      required: [transactionId, date, description, amount]
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      required: [transferId, status, updatedBalance]
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      required: [youthAccountId, weeklyLimit, status]
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      required: [transactionId, date, merchant, amount, transactionType]
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionHistoryResponse:
      type: object
      required: [transactions, pagination]
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      required: [page, pageSize, totalRecords]
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
