openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    REST APIs for parent/guardian management of youth accounts, including dashboard access, fund allocation, spending limit management, and transaction history. 
    All endpoints are OAuth2 secured, RBAC enforced, and auditable. 
    Compliant with GDPR, PCI-DSS, ISO 27001.
  contact:
    name: SCIB-Inception API Team
    email: api-support@scib-inception.com
  license:
    name: MIT
servers:
  - url: https://api.scib-inception.com
    description: Production API server
  - url: https://sandbox.api.scib-inception.com
    description: Sandbox server
security:
  - bearerAuth: []

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get dashboard for youth account
      description: Retrieve youth account balance, spending limit, currency, and recent transactions.
      operationId: getYouthAccountDashboard
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard for youth account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      description: Parent/guardian allocates funds to youth account.
      operationId: transferFundsToYouthAccount
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad Request (Insufficient funds or invalid account)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set weekly spending limit for youth account
      description: Parent/guardian sets or updates weekly spending limit.
      operationId: setYouthAccountSpendingLimit
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get transaction history for youth account
      description: Retrieve paginated transaction history for youth account.
      operationId: getYouthAccountTransactions
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter transactions by start date (YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter transactions by end date (YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Pagination - page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Pagination - page size
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

x-audit:
  description: |
    All fund transfers, spending limit changes, and dashboard accesses are audit logged (user, timestamp, action, outcome).
  retention: 7 years
  compliantWith:
    - GDPR
    - PCI-DSS
    - ISO 27001
