openapi: 3.0.3
info:
  title: Enterprise Solution API
  description: |
    Comprehensive enterprise-grade API for the business solution providing user management, authentication, 
    audit logging, file management, and health monitoring capabilities. This API follows RESTful principles 
    and includes comprehensive security, validation, and error handling mechanisms.
    
    ## Key Features
    - OAuth 2.0 / JWT-based authentication
    - Role-based access control (RBAC)
    - Comprehensive audit logging
    - File upload and download capabilities
    - Health monitoring and observability
    - Rate limiting and throttling protection
    - CORS support for web applications
    - OpenAPI 3.0 specification compliance
    
    ## Security
    All API endpoints require authentication unless explicitly marked as public.
    Authentication is performed using Bearer Token (JWT) in the Authorization header.
    
    ## Rate Limiting
    - Default Limit: 1000 requests per hour per user
    - Burst Limit: 100 requests per minute
    - Authentication endpoints: 5 requests per minute
    - File upload endpoints: 10 requests per minute
    
    ## Compliance
    This API is designed to meet enterprise compliance requirements including:
    - GDPR (General Data Protection Regulation)
    - PCI-DSS (Payment Card Industry Data Security Standard)
    - ISO 27001 (Information Security Management)
    - SOC 2 Type II (Service Organization Control)
  version: 1.0.0
  contact:
    name: Enterprise Solution Team
    email: api-support@enterprise.com
    url: https://enterprise.com/support
  license:
    name: Proprietary
    url: https://enterprise.com/license
  termsOfService: https://enterprise.com/terms

servers:
  - url: https://api.enterprise.com/v1
    description: Production server
  - url: https://staging-api.enterprise.com/v1
    description: Staging server
  - url: https://dev-api.enterprise.com/v1
    description: Development server

paths:
  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and obtain access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              standard_login:
                summary: Standard login
                value:
                  username: "john.doe"
                  password: "SecurePass123!"
                  rememberMe: false
      responses:
        '200':
          description: Login successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 5
      x-rate-limit-window: 60

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Refresh access token using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 10
      x-rate-limit-window: 60

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate current session and tokens
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # User Management Endpoints
  /users:
    get:
      tags:
        - User Management
      summary: Get users list
      description: Retrieve paginated list of users with filtering and sorting
      operationId: getUsers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: search
          in: query
          description: Search term for username/email
          schema:
            type: string
            maxLength: 100
        - name: role
          in: query
          description: Filter by role
          schema:
            type: string
            maxLength: 50
        - name: active
          in: query
          description: Filter by active status
          schema:
            type: boolean
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 100
      x-rate-limit-window: 60

    post:
      tags:
        - User Management
      summary: Create new user
      description: Create a new user account
      operationId: createUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 50
      x-rate-limit-window: 60

  /users/{id}:
    get:
      tags:
        - User Management
      summary: Get user by ID
      description: Retrieve specific user by ID
      operationId: getUserById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - User Management
      summary: Update user
      description: Update existing user (full update)
      operationId: updateUser
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - User Management
      summary: Partial update user
      description: Partial update of user information
      operationId: patchUser
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - User Management
      summary: Delete user
      description: Soft delete user (deactivate)
      operationId: deleteUser
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '204':
          description: User deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{id}/reset-password:
    post:
      tags:
        - User Management
      summary: Reset user password
      description: Reset user password (admin only)
      operationId: resetUserPassword
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Role Management Endpoints
  /roles:
    get:
      tags:
        - Role Management
      summary: Get roles list
      description: Retrieve list of available roles
      operationId: getRoles
      security:
        - BearerAuth: []
      parameters:
        - name: includePermissions
          in: query
          description: Include permissions in response
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Roles retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /roles/{id}:
    get:
      tags:
        - Role Management
      summary: Get role by ID
      description: Retrieve specific role by ID with permissions
      operationId: getRoleById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Role ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Role retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Audit Log Endpoints
  /audit-logs:
    get:
      tags:
        - Audit Logs
      summary: Get audit logs
      description: Retrieve audit logs with filtering
      operationId: getAuditLogs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: string
            format: uuid
        - name: action
          in: query
          description: Filter by action type
          schema:
            type: string
            maxLength: 50
        - name: resource
          in: query
          description: Filter by resource type
          schema:
            type: string
            maxLength: 50
        - name: fromDate
          in: query
          description: Start date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          description: End date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: ipAddress
          in: query
          description: Filter by IP address
          schema:
            type: string
            format: ipv4
      responses:
        '200':
          description: Audit logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 200
      x-rate-limit-window: 60

  # Health Check Endpoints
  /health:
    get:
      tags:
        - Health Check
      summary: Basic health check
      description: Basic health check (public endpoint)
      operationId: getHealth
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/detailed:
    get:
      tags:
        - Health Check
      summary: Detailed health check
      description: Detailed health check with dependencies (admin only)
      operationId: getDetailedHealth
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: One or more components are unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'

  # File Management Endpoints
  /files/upload:
    post:
      tags:
        - File Management
      summary: Upload file
      description: Upload file with metadata
      operationId: uploadFile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-rate-limit: 10
      x-rate-limit-window: 60

  /files/{id}/download:
    get:
      tags:
        - File Management
      summary: Download file
      description: Download file by ID
      operationId: downloadFile
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: File ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: File attachment header
              schema:
                type: string
            Content-Type:
              description: File MIME type
              schema:
                type: string
            Content-Length:
              description: File size in bytes
              schema:
                type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header:
        `Authorization: Bearer <jwt_token>`
        
        Token expires in 1 hour and can be refreshed using the /auth/refresh endpoint.

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    
    SizeParam:
      name: size
      in: query
      description: Page size
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    
    SortParam:
      name: sort
      in: query
      description: Sort field
      schema:
        type: string
        default: "username"
        maxLength: 50
    
    OrderParam:
      name: order
      in: query
      description: Sort order
      schema:
        type: string
        enum: ["asc", "desc"]
        default: "asc"
    
    UserIdParam:
      name: id
      in: path
      required: true
      description: User ID (UUID format)
      schema:
        type: string
        format: uuid

  headers:
    X-RateLimit-Limit:
      description: Total requests allowed per time window
      schema:
        type: integer
    
    X-RateLimit-Remaining:
      description: Remaining requests in current time window
      schema:
        type: integer
    
    X-RateLimit-Reset:
      description: Time when rate limit resets (Unix timestamp)
      schema:
        type: integer
        format: int64

  responses:
    BadRequest:
      description: Bad request - Invalid request format or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_format:
              summary: Invalid request format
              value:
                error:
                  code: "INVALID_REQUEST_FORMAT"
                  message: "Invalid request format"
                  details: "Request body must be valid JSON"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"
    
    Unauthorized:
      description: Unauthorized - Authentication required or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing_token:
              summary: Missing authentication token
              value:
                error:
                  code: "AUTHENTICATION_REQUIRED"
                  message: "Authentication required"
                  details: "Authorization header with Bearer token is required"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"
    
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            insufficient_permissions:
              summary: Insufficient permissions
              value:
                error:
                  code: "INSUFFICIENT_PERMISSIONS"
                  message: "Insufficient permissions to access this resource"
                  details: "User role does not have required permissions"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"
    
    NotFound:
      description: Not found - Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            user_not_found:
              summary: User not found
              value:
                error:
                  code: "USER_NOT_FOUND"
                  message: "User not found"
                  details: "User with specified ID does not exist"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users/123e4567-e89b-12d3-a456-426614174000"
                  traceId: "abc123-def456-ghi789"
    
    Conflict:
      description: Conflict - Resource conflict (e.g., duplicate)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            username_exists:
              summary: Username already exists
              value:
                error:
                  code: "USERNAME_ALREADY_EXISTS"
                  message: "Username already exists"
                  details: "A user with this username already exists in the system"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"
    
    UnprocessableEntity:
      description: Unprocessable entity - Validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          examples:
            validation_errors:
              summary: Validation errors
              value:
                error:
                  code: "VALIDATION_ERROR"
                  message: "Validation failed"
                  details: "One or more fields contain invalid values"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"
                  validationErrors:
                    - field: "email"
                      message: "Invalid email format"
                      rejectedValue: "invalid-email"
                    - field: "password"
                      message: "Password must be at least 8 characters long"
                      rejectedValue: "123"
    
    TooManyRequests:
      description: Too many requests - Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rate_limit_exceeded:
              summary: Rate limit exceeded
              value:
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  message: "Rate limit exceeded"
                  details: "Too many requests. Please try again later."
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/auth/login"
                  traceId: "abc123-def456-ghi789"
    
    InternalServerError:
      description: Internal server error - Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            server_error:
              summary: Internal server error
              value:
                error:
                  code: "INTERNAL_SERVER_ERROR"
                  message: "An internal server error occurred"
                  details: "Please try again later or contact support if the problem persists"
                  timestamp: "2024-01-15T10:30:00Z"
                  path: "/api/v1/users"
                  traceId: "abc123-def456-ghi789"

  schemas:
    # Authentication Schemas
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[a-zA-Z0-9._-]+$'
          description: Username (3-50 characters, alphanumeric and special characters)
          example: "john.doe"
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
          description: Password (minimum 8 characters)
          example: "SecurePass123!"
        rememberMe:
          type: boolean
          default: false
          description: Remember user session for extended period
          example: false

    LoginResponse:
      type: object
      required:
        - accessToken
        - refreshToken
        - tokenType
        - expiresIn
        - user
      properties:
        accessToken:
          type: string
          description: JWT access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          description: Refresh token for obtaining new access tokens
          example: "rt_1234567890abcdef"
        tokenType:
          type: string
          enum: ["Bearer"]
          description: Token type
          example: "Bearer"
        expiresIn:
          type: integer
          description: Token expiration time in seconds
          example: 3600
        user:
          $ref: '#/components/schemas/UserInfo'

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          description: Valid refresh token
          example: "rt_1234567890abcdef"

    RefreshTokenResponse:
      type: object
      required:
        - accessToken
        - tokenType
        - expiresIn
      properties:
        accessToken:
          type: string
          description: New JWT access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        tokenType:
          type: string
          enum: ["Bearer"]
          description: Token type
          example: "Bearer"
        expiresIn:
          type: integer
          description: Token expiration time in seconds
          example: 3600

    # User Management Schemas
    UserInfo:
      type: object
      required:
        - id
        - username
        - email
        - roles
      properties:
        id:
          type: string
          format: uuid
          description: Unique user identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        username:
          type: string
          description: Username
          example: "john.doe"
        email:
          type: string
          format: email
          description: Email address
          example: "john.doe@enterprise.com"
        roles:
          type: array
          items:
            type: string
          description: User roles
          example: ["USER", "ADMIN"]

    CreateUserRequest:
      type: object
      required:
        - username
        - email
        - password
        - firstName
        - lastName
        - roles
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[a-zA-Z0-9._-]+$'
          description: Unique username
          example: "jane.smith"
        email:
          type: string
          format: email
          maxLength: 255
          description: Email address (must be unique)
          example: "jane.smith@enterprise.com"
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
          description: Password (minimum 8 characters)
          example: "SecurePass123!"
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          description: First name
          example: "Jane"
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          description: Last name
          example: "Smith"
        phoneNumber:
          type: string
          pattern: '^\+?[1-9]\d{1,14}$'
          description: Phone number (E.164 format)
          example: "+1234567890"
        roles:
          type: array
          items:
            type: string
          minItems: 1
          description: User roles
          example: ["USER"]
        isActive:
          type: boolean
          default: true
          description: User active status
          example: true
        profile:
          $ref: '#/components/schemas/UserProfile'

    UpdateUserRequest:
      type: object
      required:
        - username
        - email
        - firstName
        - lastName
        - roles
        - isActive
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[a-zA-Z0-9._-]+$'
          description: Username
          example: "jane.smith"
        email:
          type: string
          format: email
          maxLength: 255
          description: Email address
          example: "jane.smith@enterprise.com"
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          description: First name
          example: "Jane"
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          description: Last name
          example: "Smith"
        phoneNumber:
          type: string
          pattern: '^\+?[1-9]\d{1,14}$'
          description: Phone number (E.164 format)
          example: "+1234567890"
        roles:
          type: array
          items:
            type: string
          minItems: 1
          description: User roles
          example: ["USER", "ADMIN"]
        isActive:
          type: boolean
          description: User active status
          example: true
        profile:
          $ref: '#/components/schemas/UserProfile'

    PatchUserRequest:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          description: First name
          example: "Jane"
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          description: Last name
          example: "Smith"
        phoneNumber:
          type: string
          pattern: '^\+?[1-9]\d{1,14}$'
          description: Phone number (E.164 format)
          example: "+1234567890"
        isActive:
          type: boolean
          description: User active status
          example: true
        profile:
          type: object
          properties:
            department:
              type: string
              maxLength: 100
              description: Department
              example: "Engineering"
            jobTitle:
              type: string
              maxLength: 100
              description: Job title
              example: "Senior Developer"

    UserProfile:
      type: object
      properties:
        department:
          type: string
          maxLength: 100
          description: Department
          example: "Engineering"
        jobTitle:
          type: string
          maxLength: 100
          description: Job title
          example: "Senior Developer"
        manager:
          type: string
          format: uuid
          description: Manager user ID
          example: "456e7890-e12b-34d5-a678-426614174001"

    UserResponse:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - roles
        - isActive
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: User ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        username:
          type: string
          description: Username
          example: "jane.smith"
        email:
          type: string
          format: email
          description: Email address
          example: "jane.smith@enterprise.com"
        firstName:
          type: string
          description: First name
          example: "Jane"
        lastName:
          type: string
          description: Last name
          example: "Smith"
        phoneNumber:
          type: string
          description: Phone number
          example: "+1234567890"
        roles:
          type: array
          items:
            type: string
          description: User roles
          example: ["USER"]
        isActive:
          type: boolean
          description: User active status
          example: true
        createdAt:
          type: string
          format: date-time
          description: User creation timestamp
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: User last update timestamp
          example: "2024-01-15T10:30:00Z"

    UserDetailResponse:
      allOf:
        - $ref: '#/components/schemas/UserResponse'
        - type: object
          properties:
            permissions:
              type: array
              items:
                type: string
              description: User permissions
              example: ["USER_READ", "USER_WRITE"]
            lastLoginAt:
              type: string
              format: date-time
              description: Last login timestamp
              example: "2024-01-15T10:30:00Z"
            profile:
              $ref: '#/components/schemas/UserProfile'

    UsersResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - id
              - username
              - email
              - firstName
              - lastName
              - roles
              - isActive
              - createdAt
            properties:
              id:
                type: string
                format: uuid
                description: User ID
                example: "123e4567-e89b-12d3-a456-426614174000"
              username:
                type: string
                description: Username
                example: "jane.smith"
              email:
                type: string
                format: email
                description: Email address
                example: "jane.smith@enterprise.com"
              firstName:
                type: string
                description: First name
                example: "Jane"
              lastName:
                type: string
                description: Last name
                example: "Smith"
              roles:
                type: array
                items:
                  type: string
                description: User roles
                example: ["USER"]
              isActive:
                type: boolean
                description: User active status
                example: true
              createdAt:
                type: string
                format: date-time
                description: User creation timestamp
                example: "2024-01-15T10:30:00Z"
              lastLoginAt:
                type: string
                format: date-time
                description: Last login timestamp
                example: "2024-01-15T10:30:00Z"
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    ResetPasswordRequest:
      type: object
      properties:
        temporaryPassword:
          type: string
          minLength: 8
          maxLength: 128
          format: password
          description: Temporary password (auto-generated if not provided)
          example: "TempPass123!"
        forcePasswordChange:
          type: boolean
          default: true
          description: Force password change on next login
          example: true

    ResetPasswordResponse:
      type: object
      required:
        - message
        - passwordResetRequired
      properties:
        message:
          type: string
          description: Success message
          example: "Password reset successfully"
        temporaryPassword:
          type: string
          description: Temporary password (only if auto-generated)
          example: "TempPass123!"
        passwordResetRequired:
          type: boolean
          description: Whether password reset is required on next login
          example: true

    # Role Management Schemas
    RolesResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - description
              - isSystem
              - createdAt
            properties:
              id:
                type: string
                format: uuid
                description: Role ID
                example: "789e0123-e45b-67d8-a901-426614174002"
              name:
                type: string
                description: Role name
                example: "ADMIN"
              description:
                type: string
                description: Role description
                example: "Administrator role with full system access"
              isSystem:
                type: boolean
                description: Whether this is a system role
                example: true
              permissions:
                type: array
                items:
                  type: string
                description: Role permissions (only if includePermissions=true)
                example: ["USER_READ", "USER_WRITE", "ADMIN_ACCESS"]
              createdAt:
                type: string
                format: date-time
                description: Role creation timestamp
                example: "2024-01-15T10:30:00Z"

    RoleDetailResponse:
      type: object
      required:
        - id
        - name
        - description
        - isSystem
        - permissions
        - userCount
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Role ID
          example: "789e0123-e45b-67d8-a901-426614174002"
        name:
          type: string
          description: Role name
          example: "ADMIN"
        description:
          type: string
          description: Role description
          example: "Administrator role with full system access"
        isSystem:
          type: boolean
          description: Whether this is a system role
          example: true
        permissions:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - resource
              - action
              - description
            properties:
              id:
                type: string
                format: uuid
                description: Permission ID
                example: "abc12345-def6-7890-abcd-426614174003"
              name:
                type: string
                description: Permission name
                example: "USER_READ"
              resource:
                type: string
                description: Resource type
                example: "USER"
              action:
                type: string
                description: Action type
                example: "READ"
              description:
                type: string
                description: Permission description
                example: "Read user information"
        userCount:
          type: integer
          description: Number of users with this role
          example: 5
        createdAt:
          type: string
          format: date-time
          description: Role creation timestamp
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Role last update timestamp
          example: "2024-01-15T10:30:00Z"

    # Audit Log Schemas
    AuditLogsResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - id
              - userId
              - username
              - action
              - resource
              - timestamp
              - success
            properties:
              id:
                type: string
                format: uuid
                description: Audit log ID
                example: "def45678-abc9-0123-def4-426614174004"
              userId:
                type: string
                format: uuid
                description: User ID who performed the action
                example: "123e4567-e89b-12d3-a456-426614174000"
              username:
                type: string
                description: Username who performed the action
                example: "jane.smith"
              action:
                type: string
                description: Action performed
                example: "USER_CREATE"
              resource:
                type: string
                description: Resource affected
                example: "USER"
              resourceId:
                type: string
                description: ID of the affected resource
                example: "456e7890-e12b-34d5-a678-426614174001"
              details:
                type: object
                description: Additional action details
                example: {"newUser": {"username": "new.user", "email": "new.user@enterprise.com"}}
              ipAddress:
                type: string
                format: ipv4
                description: IP address of the request
                example: "192.168.1.100"
              userAgent:
                type: string
                description: User agent string
                example: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
              timestamp:
                type: string
                format: date-time
                description: Timestamp of the action
                example: "2024-01-15T10:30:00Z"
              success:
                type: boolean
                description: Whether the action was successful
                example: true
              errorMessage:
                type: string
                description: Error message if action failed
                example: null
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Health Check Schemas
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - environment
      properties:
        status:
          type: string
          enum: ["UP", "DOWN"]
          description: Overall system status
          example: "UP"
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: "2024-01-15T10:30:00Z"
        version:
          type: string
          description: Application version
          example: "1.0.0"
        environment:
          type: string
          description: Environment name
          example: "production"

    DetailedHealthResponse:
      allOf:
        - $ref: '#/components/schemas/HealthResponse'
        - type: object
          required:
            - components
          properties:
            components:
              type: object
              properties:
                database:
                  type: object
                  required:
                    - status
                    - responseTime
                  properties:
                    status:
                      type: string
                      enum: ["UP", "DOWN"]
                      example: "UP"
                    responseTime:
                      type: string
                      description: Database response time
                      example: "15ms"
                    details:
                      type: object
                      properties:
                        activeConnections:
                          type: integer
                          example: 25
                        maxConnections:
                          type: integer
                          example: 100
                cache:
                  type: object
                  required:
                    - status
                    - responseTime
                  properties:
                    status:
                      type: string
                      enum: ["UP", "DOWN"]
                      example: "UP"
                    responseTime:
                      type: string
                      description: Cache response time
                      example: "2ms"
                    details:
                      type: object
                      properties:
                        hitRate:
                          type: string
                          example: "95.2%"
                        memoryUsage:
                          type: string
                          example: "45%"
                externalServices:
                  type: object
                  properties:
                    authProvider:
                      type: object
                      required:
                        - status
                        - responseTime
                      properties:
                        status:
                          type: string
                          enum: ["UP", "DOWN"]
                          example: "UP"
                        responseTime:
                          type: string
                          example: "120ms"
                    paymentGateway:
                      type: object
                      required:
                        - status
                        - responseTime
                      properties:
                        status:
                          type: string
                          enum: ["UP", "DOWN"]
                          example: "UP"
                        responseTime:
                          type: string
                          example: "200ms"

    # File Management Schemas
    FileUploadRequest:
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
          description: File to upload (max 10MB)
        metadata:
          type: string
          description: JSON string with file metadata
          example: '{"description": "User manual", "category": "documentation", "tags": ["manual", "help"], "isPublic": false}'

    FileUploadResponse:
      type: object
      required:
        - id
        - filename
        - originalName
        - size
        - mimeType
        - uploadedBy
        - uploadedAt
        - downloadUrl
      properties:
        id:
          type: string
          format: uuid
          description: File ID
          example: "ghi78901-jkl2-3456-mno7-426614174005"
        filename:
          type: string
          description: Generated filename
          example: "20240115_103000_user_manual.pdf"
        originalName:
          type: string
          description: Original filename
          example: "user_manual.pdf"
        size:
          type: integer
          description: File size in bytes
          example: 2048576
        mimeType:
          type: string
          description: File MIME type
          example: "application/pdf"
        uploadedBy:
          type: string
          format: uuid
          description: ID of user who uploaded the file
          example: "123e4567-e89b-12d3-a456-426614174000"
        uploadedAt:
          type: string
          format: date-time
          description: Upload timestamp
          example: "2024-01-15T10:30:00Z"
        downloadUrl:
          type: string
          format: uri
          description: File download URL
          example: "https://api.enterprise.com/v1/files/ghi78901-jkl2-3456-mno7-426614174005/download"
        metadata:
          type: object
          properties:
            description:
              type: string
              example: "User manual"
            category:
              type: string
              example: "documentation"
            tags:
              type: array
              items:
                type: string
              example: ["manual", "help"]
            isPublic:
              type: boolean
              example: false

    # Common Schemas
    PaginationInfo:
      type: object
      required:
        - page
        - size
        - totalElements
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
        size:
          type: integer
          description: Page size
          example: 20
        totalElements:
          type: integer
          description: Total number of elements
          example: 150
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPrevious:
          type: boolean
          description: Whether there is a previous page
          example: false

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - path
            - traceId
          properties:
            code:
              type: string
              description: Error code
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Validation failed"
            details:
              type: string
              description: Additional error details
              example: "One or more fields contain invalid values"
            timestamp:
              type: string
              format: date-time
              description: Error timestamp
              example: "2024-01-15T10:30:00Z"
            path:
              type: string
              description: Request path
              example: "/api/v1/users"
            traceId:
              type: string
              description: Trace ID for debugging
              example: "abc123-def456-ghi789"

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              type: object
              properties:
                validationErrors:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - message
                      - rejectedValue
                    properties:
                      field:
                        type: string
                        description: Field name that failed validation
                        example: "email"
                      message:
                        type: string
                        description: Validation error message
                        example: "Invalid email format"
                      rejectedValue:
                        description: Value that was rejected
                        example: "invalid-email"

tags:
  - name: Authentication
    description: |
      User authentication and session management endpoints.
      
      **Features:**
      - JWT-based authentication
      - Refresh token support
      - Session management
      - Rate limiting for security
      
      **Security:**
      - Account lockout after failed attempts
      - Rate limiting: 5 requests per minute
      - Secure token storage recommendations
      
  - name: User Management
    description: |
      Complete user lifecycle management including CRUD operations.
      
      **Features:**
      - User creation, update, and deletion
      - Pagination and filtering
      - Role-based access control
      - Password reset functionality
      
      **Security:**
      - Input validation and sanitization
      - Role-based authorization
      - Audit logging for all operations
      
  - name: Role Management
    description: |
      Role and permission management for RBAC implementation.
      
      **Features:**
      - Role listing and details
      - Permission management
      - System vs custom roles
      
      **Security:**
      - Admin-only access
      - Immutable system roles
      
  - name: Audit Logs
    description: |
      Comprehensive audit logging for compliance and security monitoring.
      
      **Features:**
      - Complete audit trail
      - Advanced filtering
      - Compliance reporting
      
      **Security:**
      - Immutable audit logs
      - Admin-only access
      - Retention policies
      
  - name: Health Check
    description: |
      System health monitoring and status endpoints.
      
      **Features:**
      - Basic and detailed health checks
      - Dependency monitoring
      - Performance metrics
      
      **Monitoring:**
      - Real-time status
      - Component health
      - Response time tracking
      
  - name: File Management
    description: |
      File upload and download capabilities with metadata support.
      
      **Features:**
      - Secure file upload (max 10MB)
      - File metadata management
      - Access control
      
      **Security:**
      - File type validation
      - Virus scanning
      - Access control

externalDocs:
  description: Enterprise Solution Documentation
  url: https://docs.enterprise.com/api

# OpenAPI Extensions for additional metadata
x-api-version: "1.0.0"
x-api-status: "stable"
x-compliance:
  - "GDPR"
  - "PCI-DSS"
  - "ISO 27001"
  - "SOC 2"
x-security-schemes:
  - "OAuth 2.0"
  - "JWT"
  - "RBAC"
x-rate-limiting:
  enabled: true
  default-limit: 1000
  default-window: 3600
x-monitoring:
  enabled: true
  metrics: true
  tracing: true
  logging: true
x-audit:
  enabled: true
  retention: "7 years"
  compliance: true