openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    REST API for Youth Account Management system enabling parents/guardians to allocate/manage funds, set spending limits, and monitor activity. Compliant with GDPR, PCI-DSS, ISO 27001. All actions are audited.
  contact:
    name: SCIB-Inception API Team
    url: https://github.com/Ascend-Krithi/SCIB-Inception
    email: support@ascend-krithi.com
servers:
  - url: https://api.bank.com
    description: Production API server
  - url: https://staging.api.bank.com
    description: Staging API server
security:
  - OAuth2: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      operationId: getYouthAccountDashboard
      tags:
        - Dashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboardResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - FundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          examples:
            InsufficientFunds:
              summary: Insufficient funds
              value:
                errorCode: INSUFFICIENT_FUNDS
                message: Insufficient funds in source account.
            InvalidAccount:
              summary: Invalid account
              value:
                errorCode: INVALID_ACCOUNT
                message: Source account is invalid.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      operationId: updateWeeklySpendingLimit
      tags:
        - SpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Weekly limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          examples:
            ValidationError:
              summary: Validation error
              value:
                errorCode: VALIDATION_ERROR
                message: Invalid weekly limit value.
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      operationId: getYouthAccountTransactions
      tags:
        - Transactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page size
      responses:
        '200':
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth/authorize
          tokenUrl: https://auth.bank.com/oauth/token
          scopes:
            dashboard: View youth account dashboard
            transfer: Transfer funds
            limit: Set spending limit
            transactions: View transaction history
            audit: Admin audit access
  responses:
    Unauthorized:
      description: Unauthorized - OAuth token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Unauthorized:
              summary: Unauthorized
              value:
                errorCode: UNAUTHORIZED
                message: OAuth token missing or invalid.
    Forbidden:
      description: Forbidden - RBAC violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Forbidden:
              summary: Forbidden
              value:
                errorCode: FORBIDDEN
                message: Access denied due to role restrictions.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            NotFound:
              summary: Not Found
              value:
                errorCode: NOT_FOUND
                message: Requested resource not found.
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InternalServerError:
              summary: Internal Server Error
              value:
                errorCode: INTERNAL_ERROR
                message: An unexpected error occurred.
  schemas:
    YouthAccountDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum:
            - SUCCESS
            - FAILURE
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum:
            - UPDATED
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum:
            - debit
            - credit
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
      required:
        - errorCode
        - message
x-audit:
  generatedBy: Lead API Integration Architect
  timestamp: "2024-06-10T12:00:00Z"
  compliance:
    - GDPR
    - PCI-DSS
    - ISO 27001
  security:
    - OAuth2
    - RBAC
    - Input Validation
    - Audit Logging
    - Encryption at Rest & Transit
  traceability:
    - ADR: SCIB-26/27/28/29/30
    - Jira: SCIB-40/41/42/43/44
