# OpenAPI 3.0 Specification for Youth Account Management APIs
openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    APIs for managing youth accounts, including dashboard, fund allocation, spending limits, and transaction history. 
    All endpoints are secured with OAuth2, RBAC, and audit logging. Compliant with GDPR, PCI-DSS, ISO 27001.
  contact:
    name: API Team
    email: api-support@ascend-krithi.com
  termsOfService: https://ascend-krithi.com/terms
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.ascend-krithi.com
    description: Production server

security:
  - OAuth2: []

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth/token
          scopes:
            openid: OpenID Connect scope
            parent: Parent/Guardian role
            youth: Youth role
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
        - code
        - message
    DashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
      required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
    TransactionSummary:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
      required: [transactionId, date, description, amount]
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
      required: [sourceAccountId, transferAmount, currency]
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
      required: [transferId, status, updatedBalance]
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: double
      required: [weeklyLimit]
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
      required: [youthAccountId, weeklyLimit, status]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
      required: [transactionId, date, merchant, amount, transactionType]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required: [transactions, pagination]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required: [page, pageSize, totalRecords]

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Get youth account dashboard
      description: Returns balance, spending limit, and recent transactions for the youth account.
      security:
        - OAuth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [Fund Transfer]
      summary: Allocate funds to youth account
      description: Transfers funds from parent to youth account.
      security:
        - OAuth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Invalid request or insufficient funds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [Spending Limit]
      summary: Set or update youth account spending limit
      description: Configures weekly spending limit for the youth account.
      security:
        - OAuth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Invalid value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transaction History]
      summary: Get youth account transaction history
      description: Retrieves paginated transaction history for the youth account.
      security:
        - OAuth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
