openapi: 3.0.3
info:
  title: Parent-Managed Youth Account API
  version: '1.0.0'
  description: |
    APIs for Parent-Managed Youth Account feature: dashboard, fund transfer, spending limits, and transactions.
    - OAuth2 authentication required
    - RBAC enforced (Parent role)
    - All actions are audit logged
    - Compliant with GDPR, PCI-DSS, ISO 27001
    - No PII/PHI/PCI data in payloads
  contact:
    name: API Compliance Team
    email: api-compliance@ascend-krithi.com
  termsOfService: https://ascend-krithi.com/terms
servers:
  - url: https://api.ascend-krithi.com
    description: Production
  - url: https://sandbox.ascend-krithi.com
    description: Sandbox
security:
  - OAuth2: [parent]
tags:
  - name: Dashboard
    description: Youth account dashboard APIs
  - name: FundTransfer
    description: Fund transfer APIs
  - name: SpendingLimit
    description: Weekly spending limit APIs
  - name: Transactions
    description: Transaction history APIs
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Retrieve youth account dashboard details
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboardResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [FundTransfer]
      summary: Transfer funds from parent to youth account
      operationId: postFundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [SpendingLimit]
      summary: Configure weekly spending limit
      operationId: putSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transactions]
      summary: Retrieve transaction history
      operationId: getYouthAccountTransactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - OAuth2: [parent]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth2/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth2/token
          scopes:
            parent: Parent role access
            youth: Youth role access
            admin: Admin access
  schemas:
    YouthAccountDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
  responses:
    UnauthorizedError:
      description: Unauthorized (OAuth2 token required or insufficient RBAC)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
      required: [code, message]
