openapi: 3.0.3
info:
  title: Youth Account Management API
  description: >-
    API for managing youth accounts, enabling parents/guardians to allocate funds, set spending limits, and monitor activity. 
    All endpoints are OAuth2-protected and RBAC-enforced. No PII/PHI/PCI data is exposed.
  version: '1.0.0'
  contact:
    name: SCIB-Inception API Team
    url: https://github.com/Ascend-Krithi/SCIB-Inception
    email: api-support@scib-inception.com
servers:
  - url: https://api.scib-inception.com
    description: Production server
  - url: https://sandbox.api.scib-inception.com
    description: Sandbox server
security:
  - OAuth2: []

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.scib-inception.com/oauth/authorize
          tokenUrl: https://auth.scib-inception.com/oauth/token
          scopes:
            youth_accounts: Access and manage youth accounts
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
      required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
      required: [transactionId, date, description, amount]
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
      required: [sourceAccountId, transferAmount, currency]
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
      required: [transferId, status, updatedBalance]
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: double
      required: [weeklyLimit]
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
      required: [youthAccountId, weeklyLimit, status]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
      required: [transactionId, date, merchant, amount, transactionType]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required: [transactions, pagination]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required: [page, pageSize, totalRecords]
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
        details:
          type: object
      required: [errorCode, message]

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve Youth Account Dashboard
      description: >-
        Returns the dashboard for a youth account, including balance, spending limit, currency, and recent transactions.
      operationId: getYouthAccountDashboard
      tags: [YouthAccount]
      security:
        - OAuth2: [youth_accounts]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Successful response with dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized (parent does not have access)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer Funds to Youth Account
      description: >-
        Transfers funds from the parent account to the specified youth account. Validation enforced for RBAC and input.
      operationId: transferFundsToYouthAccount
      tags: [YouthAccount]
      security:
        - OAuth2: [youth_accounts]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Validation error or insufficient funds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure Weekly Spending Limit
      description: >-
        Configures the weekly spending limit for the youth account. Only the parent/guardian may perform this action.
      operationId: configureWeeklySpendingLimit
      tags: [YouthAccount]
      security:
        - OAuth2: [youth_accounts]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve Youth Account Transaction History
      description: >-
        Returns transaction history for the youth account within a specified date range, paginated.
      operationId: getYouthAccountTransactionHistory
      tags: [YouthAccount]
      security:
        - OAuth2: [youth_accounts]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date (inclusive) for transaction history (YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date (inclusive) for transaction history (YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of records per page
      responses:
        '200':
          description: Paginated list of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/health:
    get:
      summary: Health Check
      description: Returns API health status
      operationId: getHealth
      tags: [Health]
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK

