openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    RESTful API for Youth Account Management, enabling parents/guardians to allocate funds, set spending limits, view dashboard, and retrieve transaction history for youth accounts. All APIs are secured via OAuth2 and RBAC for parent/guardian roles.
  contact:
    name: API Architect
    email: compliance@ascend-krithi.com
  termsOfService: https://ascend-krithi.com/terms
servers:
  - url: https://api.ascend-krithi.com
    description: Production server
  - url: https://staging-api.ascend-krithi.com
    description: Staging server
security:
  - OAuth2:
      - parent
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve dashboard with balance, spending limit, and recent transactions
      operationId: getYouthAccountDashboard
      tags:
        - Dashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - Fund Transfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      operationId: setWeeklySpendingLimit
      tags:
        - Spending Limit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve paginated transaction history
      operationId: getYouthAccountTransactions
      tags:
        - Transactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter transactions from this date (inclusive)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter transactions up to this date (inclusive)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Number of records per page
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth2/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth2/token
          scopes:
            parent: Access to youth account APIs as parent/guardian
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum:
            - SUCCESS
            - FAILURE
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum:
            - UPDATED
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRecord'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
    TransactionRecord:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum:
            - debit
            - credit
    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
  responses:
    UnauthorizedError:
      description: Unauthorized, OAuth2 token missing or invalid, or RBAC denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Bad request (validation error, insufficient funds, invalid account)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
x-compliance:
  GDPR: true
  PCI-DSS: true
  ISO27001: true
x-audit:
  logging: true
  retention: 7 years
  encrypted_backups: true
  rbac: parent/guardian enforced
