openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    REST API for Youth Account Management, enabling parents/guardians to allocate funds, set spending limits, and view transaction history for youth accounts. All endpoints secured with OAuth2 and RBAC. Audit logging and compliance overlays enforced.
  contact:
    name: API Support
    email: support@bank.com
    url: https://bank.com/support
servers:
  - url: https://api.bank.com
    description: Production API server
security:
  - OAuth2:
      - parent
      - admin
      - youth
tags:
  - name: YouthAccount
    description: Youth Account operations
  - name: FundTransfer
    description: Fund allocation and transfer
  - name: SpendingLimit
    description: Spending limit configuration
  - name: Transaction
    description: Transaction history
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - YouthAccount
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
            description: Youth account identifier
      responses:
        '200':
          description: Dashboard details for youth account
          content:
            application/json:
              schema:
                type: object
                properties:
                  youthAccountId:
                    type: string
                  accountBalance:
                    type: number
                    format: decimal
                  spendingLimit:
                    type: number
                    format: decimal
                  currency:
                    type: string
                  recentTransactions:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                        date:
                          type: string
                          format: date-time
                        description:
                          type: string
                        amount:
                          type: number
                          format: decimal
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - FundTransfer
      summary: Allocate funds to youth account
      operationId: postFundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
            description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceAccountId:
                  type: string
                transferAmount:
                  type: number
                  format: decimal
                currency:
                  type: string
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                type: object
                properties:
                  transferId:
                    type: string
                  status:
                    type: string
                    enum: [SUCCESS, FAILURE]
                  updatedBalance:
                    type: number
                    format: decimal
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags:
        - SpendingLimit
      summary: Set weekly spending limit for youth account
      operationId: putSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
            description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                weeklyLimit:
                  type: number
                  format: decimal
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  youthAccountId:
                    type: string
                  weeklyLimit:
                    type: number
                    format: decimal
                  status:
                    type: string
                    enum: [UPDATED]
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags:
        - Transaction
      summary: Get youth account transaction history
      operationId: getTransactionHistory
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
            description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                        date:
                          type: string
                          format: date-time
                        merchant:
                          type: string
                        amount:
                          type: number
                          format: decimal
                        transactionType:
                          type: string
                          enum: [debit, credit]
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pageSize:
                        type: integer
                      totalRecords:
                        type: integer
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: [parent]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://bank.com/oauth2/authorize
          tokenUrl: https://bank.com/oauth2/token
          scopes:
            parent: Manage youth accounts
            youth: View youth account
            admin: Administer accounts
  responses:
    BadRequestError:
      description: Invalid input or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ForbiddenError:
      description: Unauthorized or forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]

x-audit:
  compliance:
    - GDPR
    - PCI-DSS
    - ISO 27001
  auditLogging: enabled
  logsRetained: 2 years
  errorHandling: secure
  inputValidation: enforced
  outputFiltering: enforced
