openapi: 3.0.3
info:
  title: Youth Account Parental Controls API
  version: '1.0.0'
  description: |
    API for managing youth accounts, parental controls, fund allocation, spending limits, and transaction history.
    Compliance: GDPR, PCI-DSS, ISO 27001.
    Audit: All fund allocations, spending limit changes, and transaction retrievals logged with user, timestamp, and action.
servers:
  - url: https://api.bank.com
    description: Production API server
security:
  - bearerAuth: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard details for youth account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboardResponse'
        '403':
          description: Forbidden - unauthorized access
        '404':
          description: Not Found - invalid youth account
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      operationId: postYouthAccountFundTransfer
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad Request - insufficient funds or invalid mapping
        '500':
          description: Internal Server Error - transfer service failure
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set or update weekly spending limit
      operationId: putYouthAccountSpendingLimit
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Bad Request - invalid value
        '403':
          description: Forbidden - unauthorized access
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get youth account transaction history
      operationId: getYouthAccountTransactions
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for transaction history
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for transaction history
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page size for pagination
      responses:
        '200':
          description: Transaction history and pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          description: Forbidden - unauthorized access
        '404':
          description: Not Found - invalid youth account
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/DashboardTransaction'
    DashboardTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
