# OpenAPI 3.0 Specification for Youth Account Parental Fund Management
openapi: 3.0.3
info:
  title: Youth Account Parental Fund Management API
  version: '1.0.0'
  description: |
    REST APIs for managing youth accounts, including dashboard retrieval, fund transfer, spending limits, and transaction history.
    All endpoints require OAuth2 authentication and RBAC (parent/guardian access only). Compliant with GDPR, PCI-DSS, ISO 27001.
servers:
  - url: https://api.bank.com
    description: Production
  - url: https://sandbox.api.bank.com
    description: Sandbox
security:
  - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          scopes:
            youthaccount: Manage youth accounts
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized (RBAC or OAuth2 failure)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found (account, transaction, etc.)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation or business logic error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict (e.g., concurrent modification)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard
      operationId: getYouthAccountDashboard
      description: |
        Retrieve dashboard details (balance, spending limit, recent transactions) for a youth account.
        Requires OAuth2 authentication and RBAC (parent/guardian must own the account).
      tags: [YouthAccount]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [youthaccount]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      operationId: postYouthAccountFundTransfer
      description: |
        Transfer funds from parent to youth account. Requires OAuth2 authentication and RBAC.
      tags: [YouthAccount]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [youthaccount]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set or update weekly spending limit
      operationId: putYouthAccountSpendingLimit
      description: |
        Set or update the weekly spending limit for a youth account. Requires OAuth2 authentication and RBAC.
      tags: [YouthAccount]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Updated limit confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [youthaccount]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve transaction history
      operationId: getYouthAccountTransactions
      description: |
        Retrieve youth account transaction history. Requires OAuth2 authentication and RBAC.
      tags: [YouthAccount]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for transactions (YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for transactions (YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number (default 1)
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: Number of records per page (default 20)
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [youthaccount]
tags:
  - name: YouthAccount
    description: Operations for youth account parental fund management
