openapi: 3.0.3
info:
  title: Youth Account Management API
  description: |
    RESTful API for managing youth accounts, fund transfers, spending limits, and transaction history. All endpoints enforce OAuth2 authentication, RBAC, input validation, and audit logging. Solution is compliant with GDPR, PCI-DSS, and ISO 27001.
  version: '1.0.0'
  contact:
    name: SCIB-Inception Team
    url: https://github.com/SCIB-Inception
servers:
  - url: https://api.scib-inception.com
    description: Production
  - url: https://api-uat.scib-inception.com
    description: UAT
security:
  - oauth2: [parent, youth, admin]
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.scib-inception.com/oauth2/authorize
          tokenUrl: https://auth.scib-inception.com/oauth2/token
          scopes:
            parent: Parent/Guardian role
            youth: Youth account holder role
            admin: Admin role
  schemas:
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
        details:
          type: object
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: float
        merchant:
          type: string
        transactionType:
          type: string
          enum: [debit, credit]
        status:
          type: string
          enum: [COMPLETED, PENDING, FAILED]
    DashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: float
        spendingLimit:
          type: number
          format: float
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: float
          minimum: 0.01
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: float
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: float
          minimum: 0.01
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: float
        status:
          type: string
          enum: [UPDATED, FAILED]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            totalRecords:
              type: integer
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve Youth Account Dashboard
      operationId: getYouthAccountDashboard
      tags: [Youth Accounts]
      security:
        - oauth2: [parent, youth]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Fund Transfer to Youth Account
      operationId: fundTransferToYouthAccount
      tags: [Youth Accounts]
      security:
        - oauth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad request (validation, insufficient funds)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account or source account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure Weekly Spending Limit
      operationId: configureSpendingLimit
      tags: [Youth Accounts]
      security:
        - oauth2: [parent]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Weekly spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Bad request (invalid limit value)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve Youth Account Transaction History
      operationId: getYouthAccountTransactions
      tags: [Youth Accounts]
      security:
        - oauth2: [parent, youth]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          description: Bad request (invalid query params)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Youth account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
