openapi: 3.0.3
info:
  title: Youth Account Management API
  description: |
    APIs for parents/guardians to allocate and manage funds, set spending limits, and review transaction activity for youth accounts. 
    All endpoints require OAuth 2.0 Bearer Token. RBAC enforced: only parent/guardian roles may manage youth accounts. 
    Compliant with GDPR, PCI-DSS, ISO 27001.
  version: '1.0.0'
  contact:
    name: Compliance Officer
    email: compliance@ascend-bank.com
servers:
  - url: https://api.ascend-bank.com
    description: Production
  - url: https://sandbox.api.ascend-bank.com
    description: Sandbox
tags:
  - name: Dashboard
    description: Youth Account Dashboard endpoints
  - name: Fund Transfer
    description: Parent to Youth fund transfer
  - name: Spending Limit
    description: Manage weekly spending limits
  - name: Transactions
    description: Transaction history
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Retrieve youth account dashboard
      description: Get youth account balance, spending limit, currency, and recent transactions.
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, guardian]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [Fund Transfer]
      summary: Transfer funds from parent to youth account
      description: Initiate a fund transfer from parent to youth account.
      operationId: postYouthAccountFundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, guardian]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [Spending Limit]
      summary: Set weekly spending limit
      description: Set the weekly spending limit for a youth account.
      operationId: putYouthAccountSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, guardian]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transactions]
      summary: Retrieve youth account transaction history
      description: Get paginated transaction history for a youth account.
      operationId: getYouthAccountTransactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, guardian]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication (Bearer token)
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-bank.com/oauth2/authorize
          tokenUrl: https://auth.ascend-bank.com/oauth2/token
          scopes:
            parent: Manage youth accounts as parent
            guardian: Manage youth accounts as guardian
            youth: View own account (read-only, not permitted for management endpoints)
  responses:
    BadRequest:
      description: Bad request, validation error or business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized or forbidden (authentication/authorization failure)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required: [sourceAccountId, transferAmount, currency]
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required: [weeklyLimit]
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        youthAccountId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        description:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          description: Error message
security:
  - OAuth2: [parent, guardian]
externalDocs:
  description: Full HLD, NFRs, and traceability matrix
  url: https://github.com/Ascend-Krithi/SCIB-Inception/tree/main/Requirement%20Documents
x-compliance:
  gdpr: true
  pci-dss: true
  iso27001: true
x-audit:
  logging: All access, changes, and fund movements are logged and auditable per ISO 27001, PCI-DSS, GDPR.