openapi: 3.0.3
info:
  title: Youth Account Management API
  description: |
    API for parent/guardian management of youth accounts: dashboard, fund transfer, spending limits, and transaction history.
    Security: OAuth2, RBAC. Compliant with GDPR, PCI-DSS, ISO 27001. All actions are audited.
  version: 1.0.0
  contact:
    name: Compliance Lead
    email: compliance@ascend-bank.com
servers:
  - url: https://api.ascend-bank.com
    description: Production
  - url: https://sandbox.ascend-bank.com
    description: Sandbox

tags:
  - name: Dashboard
  - name: Fund Transfer
  - name: Spending Limit
  - name: Transaction History

security:
  - OAuth2: [parent]
  
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-bank.com/oauth2/authorize
          tokenUrl: https://auth.ascend-bank.com/oauth2/token
          scopes:
            parent: Access youth account as parent/guardian
  schemas:
    YouthAccount:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: float
        spendingLimit:
          type: number
          format: float
        currency:
          type: string
      required: [youthAccountId, accountBalance, spendingLimit, currency]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: float
        merchant:
          type: string
        transactionType:
          type: string
          enum: [debit, credit]
      required: [transactionId, date, description, amount, transactionType]
    YouthAccountSettings:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklySpendingLimit:
          type: number
          format: float
        updatedTimestamp:
          type: string
          format: date-time
      required: [youthAccountId, weeklySpendingLimit]
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
      required: [errorCode, errorMessage]
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: float
        currency:
          type: string
      required: [sourceAccountId, transferAmount, currency]
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS]
        updatedBalance:
          type: number
          format: float
      required: [transferId, status, updatedBalance]
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: float
      required: [weeklyLimit]
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: float
        status:
          type: string
          enum: [UPDATED]
      required: [youthAccountId, weeklyLimit, status]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            totalRecords:
              type: integer
          required: [page, pageSize, totalRecords]
      required: [transactions, pagination]

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags: [Dashboard]
      summary: Get youth account dashboard
      description: Returns youth account details and recent transactions for parent/guardian.
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                type: object
                properties:
                  youthAccountId:
                    type: string
                  accountBalance:
                    type: number
                    format: float
                  spendingLimit:
                    type: number
                    format: float
                  currency:
                    type: string
                  recentTransactions:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                        date:
                          type: string
                          format: date-time
                        description:
                          type: string
                        amount:
                          type: number
                          format: float
                      required: [transactionId, date, description, amount]
                required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags: [Fund Transfer]
      summary: Transfer funds to youth account
      description: Parent/guardian initiates a fund transfer to a youth account.
      operationId: fundTransfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Invalid request or insufficient balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags: [Spending Limit]
      summary: Configure weekly spending limit
      description: Parent/guardian sets or updates the weekly spending limit for the youth account.
      operationId: setSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags: [Transaction History]
      summary: Get youth account transaction history
      description: Returns a paginated list of transactions for the specified youth account.
      operationId: getTransactionHistory
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date (inclusive)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date (inclusive)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of records per page
      responses:
        '200':
          description: Paginated transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - OAuth2: [parent]

x-compliance:
  GDPR: Data minimization, consent, right to erasure supported.
  PCI-DSS: Secure fund transfer, no card data stored in this API.
  ISO27001: Information security management enforced.
x-audit:
  All fund transfers, limit changes, and parent actions are logged for compliance.