openapi: 3.0.3
info:
  title: Youth Account Management API
  version: '1.0.0'
  description: |
    OpenAPI specification for Youth Account Management capability.
    Enables parents to allocate, monitor, and control funds for youth accounts.
    Security and compliance overlays: OAuth 2.0, RBAC, audit logging, GDPR, PCI-DSS, ISO 27001.
servers:
  - url: https://api.bank.com
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve dashboard details for a youth account
      operationId: getYouthAccountDashboard
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer OAuth 2.0 token
          schema:
            type: string
      responses:
        '200':
          description: Dashboard details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - parent
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      operationId: transferFundsToYouthAccount
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer OAuth 2.0 token
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Insufficient funds or invalid account
        '403':
          description: Unauthorized
        '500':
          description: Transfer Failure
      security:
        - OAuth2:
            - parent
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit for youth account
      operationId: setYouthAccountSpendingLimit
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer OAuth 2.0 token
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation Error
        '403':
          description: Unauthorized
      security:
        - OAuth2:
            - parent
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve transaction history for youth account
      operationId: getYouthAccountTransactions
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          description: Bearer OAuth 2.0 token
          schema:
            type: string
      responses:
        '200':
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - OAuth2:
            - parent
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          scopes:
            parent: Manage youth accounts
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum:
            - SUCCESS
            - FAILED
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum:
            - UPDATED
            - FAILED
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRecord'
        pagination:
          $ref: '#/components/schemas/Pagination'
    TransactionRecord:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum:
            - debit
            - credit
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer

x-compliance:
  GDPR: true
  PCI-DSS: true
  ISO-27001: true
x-audit:
  enabled: true
  events:
    - fund_transfer
    - spending_limit_change
    - dashboard_access
  retention_years: 7
