openapi: 3.0.3
info:
  title: Youth Account Management API
  description: APIs for managing youth accounts, fund transfers, spending limits, and transaction history. Secure, auditable, and compliant with financial regulations.
  version: 1.0.0
  contact:
    name: API Team
    email: support@bankingapp.com
  termsOfService: https://bankingapp.com/terms
servers:
  - url: https://api.bankingapp.com
    description: Production server
  - url: https://sandbox.api.bankingapp.com
    description: Sandbox server
security:
  - OAuth2: []
  - BearerAuth: []
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      description: Retrieve dashboard details for a youth account, including balance, spending limit, and recent transactions.
      operationId: getYouthAccountDashboard
      tags:
        - Youth Accounts
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      responses:
        '200':
          description: Successful retrieval of dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboardResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
        - BearerAuth: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      description: Initiate a fund transfer from a parent account to a youth account.
      operationId: transferFundsToYouthAccount
      tags:
        - Fund Transfers
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Insufficient funds or invalid account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
        - BearerAuth: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      description: Set or update the weekly spending limit for a youth account.
      operationId: updateSpendingLimit
      tags:
        - Spending Limits
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
      security:
        - OAuth2: []
        - BearerAuth: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      description: Retrieve paginated transaction history for a youth account.
      operationId: getYouthAccountTransactions
      tags:
        - Transactions
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the youth account
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for transaction history (YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for transaction history (YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Page size
      responses:
        '200':
          description: Successful retrieval of transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
        - BearerAuth: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bankingapp.com/oauth/authorize
          tokenUrl: https://auth.bankingapp.com/oauth/token
          scopes:
            youth_account: Access youth account APIs
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: double
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: double
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    BadRequestError:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
    UnauthorizedError:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
    NotFoundError:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
    InternalServerError:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
  responses:
    UnauthorizedError:
      description: Unauthorized access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerError'
