# OpenAPI Specification for Parent Fund Allocation and Youth Account Management
openapi: 3.0.3
info:
  title: Parent Fund Allocation & Youth Account Management API
  description: |
    API for parents/guardians to allocate/manage funds for youth accounts, set spending limits, and view transaction history.
    All endpoints require OAuth2 authentication and RBAC (parent/guardian only).
  version: 1.0.0
  contact:
    email: devops@scib-inception.com
  termsOfService: https://scib-inception.com/terms

servers:
  - url: https://api.scib-inception.com
    description: Production server

security:
  - OAuth2:
      - parent_guardian

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.scib-inception.com/oauth2/authorize
          tokenUrl: https://auth.scib-inception.com/oauth2/token
          scopes:
            parent_guardian: Parent/Guardian access
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
    TransactionSummary:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            totalRecords:
              type: integer

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      description: Returns youth account balance, spending limit, currency, and recent transactions.
      tags:
        - Youth Account
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Forbidden - unauthorized access
        '404':
          description: Not Found - invalid account
      security:
        - OAuth2: [parent_guardian]

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      description: Initiate a fund transfer from parent/guardian to youth account.
      tags:
        - Fund Transfer
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad Request - insufficient funds, invalid mapping
        '500':
          description: Internal Server Error - service failure
      security:
        - OAuth2: [parent_guardian]

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit
      description: Update weekly spending limit for youth account.
      tags:
        - Spending Limit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Bad Request - validation error
        '403':
          description: Forbidden - unauthorized
      security:
        - OAuth2: [parent_guardian]

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve transaction history
      description: Returns paginated transaction history for youth account.
      tags:
        - Transaction History
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          description: Forbidden - unauthorized access
        '404':
          description: Not Found - invalid account
      security:
        - OAuth2: [parent_guardian]

# Global compliance and auditability
x-compliance:
  GDPR:
    dataMinimization: true
    accessControl: true
    deletion: true
  ISO27001:
    accessControl: true
    logging: true
    encryption: true
x-audit:
  logging:
    enabled: true
    retentionYears: 7
    logMasking: true

# End of OpenAPI Specification
