openapi: 3.0.3
info:
  title: Parent-Managed Youth Account API
  version: '1.0.0'
  description: |
    APIs for Parent-Managed Youth Account feature, enabling parents/guardians to allocate, manage, and monitor funds for a child’s youth account. Secured by OAuth2, PCI-DSS, GDPR, and ISO 27001 compliant.
  termsOfService: 'https://ascend-krithi.github.io/terms'
  contact:
    name: API Support
    email: support@ascend-krithi.com
    url: 'https://ascend-krithi.github.io/support'
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.ascend-krithi.com/youth'
    description: Production server
  - url: 'https://sandbox.api.ascend-krithi.com/youth'
    description: Sandbox server
security:
  - OAuth2: []
tags:
  - name: Dashboard
    description: Youth account dashboard APIs
  - name: FundTransfer
    description: Fund transfer APIs
  - name: SpendingLimit
    description: Spending limit management APIs
  - name: Transactions
    description: Transaction history APIs
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve consolidated youth account dashboard
      tags: [Dashboard]
      security:
        - OAuth2: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthDashboardResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent to youth account
      tags: [FundTransfer]
      security:
        - OAuth2: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set or update weekly spending limit
      tags: [SpendingLimit]
      security:
        - OAuth2: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      tags: [Transactions]
      security:
        - OAuth2: []
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - in: query
          name: startDate
          required: false
          schema:
            type: string
            format: date
          description: Start date filter (YYYY-MM-DD)
        - in: query
          name: endDate
          required: false
          schema:
            type: string
            format: date
          description: End date filter (YYYY-MM-DD)
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Page size for pagination
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://auth.ascend-krithi.com/oauth2/authorize'
          tokenUrl: 'https://auth.ascend-krithi.com/oauth2/token'
          scopes:
            openid: OpenID Connect scope
            profile: Basic profile info
            youth.read: Read youth account info
            youth.write: Write youth account info
  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      required: true
      description: Youth account unique identifier
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad request (validation error, insufficient funds, etc.)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden (authentication/authorization failed)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    YouthDashboardResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
      required: [youthAccountId, accountBalance, spendingLimit, currency, recentTransactions]
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
      required: [transactionId, date, description, amount]
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
      required: [sourceAccountId, transferAmount, currency]
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILURE]
        updatedBalance:
          type: number
          format: double
      required: [transferId, status, updatedBalance]
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: double
      required: [weeklyLimit]
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
      required: [youthAccountId, weeklyLimit, status]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required: [transactions, pagination]
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
      required: [transactionId, date, merchant, amount, transactionType]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required: [page, pageSize, totalRecords]
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
      required: [code, message]
externalDocs:
  description: Additional ADRs, HLD, and compliance documentation
  url: 'https://github.com/Ascend-Krithi/SCIB-Inception/tree/main/Requirement%20Documents/'