openapi: 3.0.3
info:
  title: Parent-Managed Youth Account Management API
  version: 1.0.0
  description: |
    API for parent-managed youth account dashboard, fund transfers, spending limit configuration, and transaction history.
    - All endpoints require OAuth2 Bearer token.
    - RBAC enforced: Only parent/guardian accounts may access.
    - Audit logging for all actions.
    - Compliant with GDPR, PCI-DSS, ISO 27001.
  contact:
    name: Ascendion Platform API Team
    url: https://github.com/Ascend-Krithi/SCIB-Inception
    email: support@ascendion.com
servers:
  - url: https://api.ascendionbank.com
    description: Production
  - url: https://sandbox.ascendionbank.com
    description: Sandbox
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: double
        spendingLimit:
          type: number
          format: double
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecentTransaction'
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
        - recentTransactions
    RecentTransaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: double
      required:
        - transactionId
        - date
        - description
        - amount
    FundTransferRequest:
      type: object
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: double
        currency:
          type: string
      required:
        - sourceAccountId
        - transferAmount
        - currency
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS]
        updatedBalance:
          type: number
          format: double
      required:
        - transferId
        - status
        - updatedBalance
    SpendingLimitRequest:
      type: object
      properties:
        weeklyLimit:
          type: number
          format: double
      required:
        - weeklyLimit
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: double
        status:
          type: string
          enum: [UPDATED]
      required:
        - youthAccountId
        - weeklyLimit
        - status
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: double
        transactionType:
          type: string
          enum: [debit, credit]
      required:
        - transactionId
        - date
        - merchant
        - amount
        - transactionType
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - transactions
        - pagination
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
      required:
        - page
        - pageSize
        - totalRecords
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
        - code
        - message
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Retrieve youth account dashboard details
      operationId: getYouthAccountDashboard
      tags: [Youth Account]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Youth account dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds from parent account to youth account
      operationId: transferFundsToYouthAccount
      tags: [Youth Account]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad request (insufficient funds, invalid account)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Transfer failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Configure weekly spending limit for youth account
      operationId: setSpendingLimit
      tags: [Youth Account]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Retrieve youth account transaction history
      operationId: getYouthAccountTransactions
      tags: [Youth Account]
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date (inclusive, YYYY-MM-DD)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date (inclusive, YYYY-MM-DD)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of records per page
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
tags:
  - name: Youth Account
    description: Operations for managing youth accounts by parents/guardians
