openapi: 3.0.3
info:
  title: Youth Account Management API
  version: 1.0.0
  description: |
    API for parents/guardians to allocate, monitor, and manage funds for youth accounts. Implements dashboard, fund transfer, spending limit, and transaction history with strict compliance (GDPR, PCI-DSS, ISO27001).
  termsOfService: https://ascend-krithi.com/terms
  contact:
    name: API Integration Team
    email: api-support@ascend-krithi.com
    url: https://ascend-krithi.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.ascend-krithi.com
    description: Production
  - url: https://sandbox.ascend-krithi.com
    description: Sandbox
security:
  - OAuth2:
      - parent
      - youth
paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      summary: Get youth account dashboard
      tags: [Dashboard]
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      summary: Transfer funds to youth account
      tags: [FundTransfer]
      operationId: transferFundsToYouthAccount
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '200':
          description: Fund transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      summary: Set weekly spending limit
      tags: [SpendingLimit]
      operationId: setWeeklySpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Limit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent]
  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      summary: Get youth account transaction history
      tags: [TransactionHistory]
      operationId: getYouthAccountTransactionHistory
      parameters:
        - name: youthAccountId
          in: path
          required: true
          schema:
            type: string
          description: Youth account identifier
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date (inclusive)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date (inclusive)
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Page size
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '500':
          $ref: '#/components/responses/InternalError'
      security:
        - OAuth2: [parent, youth]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ascend-krithi.com/oauth2/authorize
          tokenUrl: https://auth.ascend-krithi.com/oauth2/token
          scopes:
            parent: Manage youth accounts
            youth: View own account and transactions
  schemas:
    YouthAccountDashboard:
      type: object
      properties:
        youthAccountId:
          type: string
        accountBalance:
          type: number
          format: decimal
        spendingLimit:
          type: number
          format: decimal
        currency:
          type: string
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
    TransactionSummary:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
          format: decimal
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
        transferAmount:
          type: number
          format: decimal
        currency:
          type: string
    FundTransferResponse:
      type: object
      properties:
        transferId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        updatedBalance:
          type: number
          format: decimal
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
    SpendingLimitResponse:
      type: object
      properties:
        youthAccountId:
          type: string
        weeklyLimit:
          type: number
          format: decimal
        status:
          type: string
          enum: [UPDATED]
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetail'
        pagination:
          $ref: '#/components/schemas/Pagination'
    TransactionDetail:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        merchant:
          type: string
        amount:
          type: number
          format: decimal
        transactionType:
          type: string
          enum: [debit, credit]
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalRecords:
          type: integer
    ErrorObject:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
        details:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorObject'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorObject'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorObject'

x-audit:
  generator: OpenAPI Integration Architect v1.0
  source: HLDDocument.txt, APIContractOutline.txt, NFR.txt
  compliance:
    GDPR: true
    PCI-DSS: true
    ISO27001: true
  security:
    OAuth: true
    RBAC: true
    AuditLogging: true
  lastGenerated: 2024-06-12T12:34:00Z
